* {
  margin: 0px;
  box-sizing: border-box;
  transition-property: scroll;
  scroll-behavior: smooth;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Overall Decoration */
body {
  color: aliceblue;
}

.html {
  scroll-behavior: smooth !important;
}

/* NavBar code Starts */

img {
  height: auto;
}

.nav-main {
  color: #363436;
}

.nav__wrapper {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  margin: 0;
  color: #363436;
  list-style-type: none;
}

.wrapper {
  margin-right: 8.6%;
  margin-left: 8.6%;
}

.brand {
  font-family: "Futura Std";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
}

.site-header {
  height: 64px;
  width: 100%;
  z-index: 999;
  top: 0;
  position: sticky;
  background: #313135;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.site-header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 5px;
}

.nav__item contact {
  padding-right: 2%;
}

.button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.button-nav {
  font-family: "Poppins";
  font-style: normal;
  font-size: 17px;
  line-height: 27px;
  border-radius: 8px;
  text-align: center;
  background-color: #5d75f5;
  color: white;
  padding: 5px 45px;
  border: none;
  transition: 0.4s;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
}

ul {
  padding: 0;
}

a:hover {
  color: #5d75f5 !important;
}

.button-nav:hover {
  background-color: #3a51d0;
  border: none;
}

.fa-solid {
  color: #ffffff;
}

@media (max-width: 870px) {
  .site-header__wrapper {
    padding-top: 10px;
  }
}

@media (min-width: 768px) {
  .site-header__middle {
    margin-left: auto;
  }
}

@media (max-width: 950px) {
  .nav__wrapper {
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
  }

  .button-nav {
    display: flex;
    padding: 8px 30px;
  }
}

@media (min-width: 768px) {
  .nav__wrapper {
    display: flex;
  }
}

@media (max-width: 870px) {
  .nav__wrapper {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: -1;
    background-color: #e5e5e6;

    visibility: hidden;
    opacity: 0;
    text-align: left;
    transform: translateY(-100%);
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  }

  .nav__wrapper.active {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }

  li.nav__item:nth-child(1),
  li.nav__item:nth-child(2),
  li.nav__item:nth-child(3),
  li.nav__item:nth-child(4),
  li.nav__item:nth-child(5) {
    text-align: left;
    padding-left: 5%;
    /* color: #313135; */
  }

  .site-header__end {
    margin-right: 5%;
  }

  .nav__item a {
    color: #313135 !important;
  }
}

a:link {
  text-decoration: none;
}

.nav__item a {
  display: block;
  padding: 1rem;
  color: #ffffff;
}

.nav__toggle {
  display: none;
}

@media (max-width: 870px) {
  .nav__toggle {
    display: block;
    position: absolute;
    right: 1rem;
    top: 15.5px;
  }
}

@media (max-width: 526px) {
  .site-header__end {
    visibility: hidden;
    display: none;
    /* width: 50px; */
  }

  .brand {
    display: flex;
    width: auto;
  }

  .logo-nav {
    width: 200px;
  }
}

/* NavBar code ends */
/* Landing Page Gradient and Decoration */
.home-landing {
  background-image: linear-gradient(to bottom, #000, #000, #394588);
  color: #ffff;
  width: 100%;
}

/* Font of Landing Pagge */
.landing-heading {
  background-image: linear-gradient(to bottom, #394588, #000, #19191d);
  font-size: 500%;
  text-align: right;
  padding: 8% 4%;
}

/* Image of landing page */
.landing-img {
  text-align: right;
  position: relative;
}

/* background image */
.img-land {
  width: 100%;
  margin-bottom: -4px;
}

/* text on image */
.bottom-right {
  position: absolute;
  bottom: 60px;
  right: 50px;
}

/* text specs */
#land-img-head {
  font-size: 200%;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  padding: 6px;
}

#land-img-para {
  font-size: 150%;
}

/* Button type and features */
.btn-type-1 {
  padding: 0.5% 3%;
  margin-top: 2%;
  font-size: 17px;
  background-color: #5d75f5;
  border: none;
  transition: transform 0.5s;
  font-weight: 700;
  color: white;
}

.learn-btn {
  border-radius: 10px;
  background-color: #ffff;
  color: #000;
  padding: 1% 3%;
  text-decoration: underline;
}

.btn-type-1:hover {
  transform: scale(1.07);
  cursor: pointer;
}
/* About Us Section  */
/* About Us BG color */
.about-us {
  background-color: #19191D;
}

/* Single class for all titles */
.titles {
  font-size: 300%;
  text-align: right;
  margin: 0 5% 0 0;
  padding-top: 5%;
}

/* para 1 for about us section */
.about-para-1 {
  font-size: 150%;
  text-align: justify;
  margin: 3% 5%;
}

/* para 2 for about us section */
.about-para-2 {
  font-size: 130%;
  text-align: justify;
  margin: 3% 5% 0 5%;
  padding-bottom: 8%;
}

/* Products Section */
/* Products section BG color */
.products {
  background-image: linear-gradient(to bottom, #19191D, #394588)
}

/* Product Images */
.product-class {
  width: 25%;
  display: flex;
  flex-direction: column;
}

.product-images {
  margin-top: 6%;
  display: flex;
  justify-content: space-evenly;
}

.products-img {
  width: 100%;
  background-size: contain;
  margin-bottom: 0;
}

/* Details Button */
.product-btn {
  margin-top: 0;
  border: none;
  color: #fff;
  font-weight: 600;
  margin-bottom: 40%;
  padding: 12% 0;
  width: 100%;
  border-radius: 0 0 30px 30px;
  font-size: 150%;
  text-decoration: underline;
  background-color: #15151c;
  transition: background-color 0.6s;
}

.product-btn:hover {
  background-color: #fff;
  color: #15151c;
  cursor: pointer;
}

/* Footer Section */
.footer-body {
  background-color: #E5E5E6;
  height: fit-content;
  background-size: contain;
}

.footer {
  margin: 0 5%;
}

.foothead {
  font-size: 32px;
  font-weight: 900;
  padding-top: 4%;
  color: black;
}

.footerbody {
  display: flex;
  flex-direction: row;
}

.footernav {
  width: 50%;
  margin-top: 2%;
}

.footernav ul {
  list-style-type: none;
}

.footernav ul li {
  display: flex;
  flex-direction: column;
}

.footernav li a {
  font-size: 20px;
  font-weight: 550;
  text-decoration: none;
  color: #131215;
  padding: 5px 0;
}

.socials {
  width: 50%;
  margin-top: 2%;
}

.footer-btn {
  padding: 1% 5%;
}

.follow {
  display: flex;
  margin-top: 4%;
  font-size: 24px;
  font-weight: 600;
  color: black;
}

.follow ul {
  list-style-type: none;
  margin-left: 5%;
}

.follow ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.follow ul li a {
  text-decoration: none;
  padding: 0 8%;
}

.footer-list {
  list-style-type: none;
  margin-top: 4%;

}

.footlogo {
  height: 32px;
  width: 32px;
}

.footer-list li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer-list li a {
  text-decoration: none;
  font-size: 18px;
  color: #363436;
  padding: 0 2%;
  font-weight: 600;
}

.follow_us {
  margin-right: 5%;
}

.copy {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: #363436;
  font-weight: bold;
  padding-bottom: 3%;
}

.copy img {
  margin-right: 2%;
}

.klique-footer {
  font-size: 20px;
  color: #363436;
  font-weight: bold;
  padding-bottom: 5%;
}

.klique-link {
  text-decoration: underline;
  color: #363436;
}

/* Media Queries to make the websites responsive */
@media screen and (max-width:1024px) {
  .landing-heading {
    font-size: 380%;
    padding: 15% 4%;
  }

  .product-btn {
    font-size: 120%;
  }
}

@media screen and (max-width: 649px) {
  .footer div {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .footer-list li {
    margin-top: 10%;
    font-size: 15px;
  }

  .copy {
    font-size: 16px;
    padding-bottom: 10%;
  }

  .klique-footer {
    font-size: 100%;
  }
}

@media screen and (max-width:799px) {
  .nav_parent {
    flex-direction: column;
  }

  .landing-heading {
    font-size: 400%;
    padding: 20% 4%;
  }

  .bottom-right {
    bottom: 20px;
  }

  .product-class {
    width: 80%;
  }

  .product-images {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .products-img {
    width: 100%;
  }

  .product-btn {
    width: 100%;
    font-size: 170%;
    margin-bottom: 8%;
  }

}

@media screen and (min-width: 399px) and (max-width: 523px) {
  .landing-heading {
    font-size: 300%;
    padding: 15% 4% 15% 4%;
  }

  .titles {
    font-size: 250%;
  }

  .left_nav {
    width: 30%;
  }

  .bottom-right {
    bottom: 20px;
    right: 25px;
    font-size: 65%;
  }

  .about-para-1 {
    font-size: 110%;
  }

  .about-para-2 {
    font-size: 95%;
  }

  .btn-type-1 {
    font-weight: 650;
  }
}

@media screen and (max-width: 398px) {
  .landing-heading {
    font-size: 200%;
    padding: 15% 4% 15% 4%;
  }

  .learn-btn {
    border-radius: 5px;
    padding: 2% 3%;
  }

  .bottom-right {
    font-size: 65%;
    right: 20px;
  }

  .about-para-1 {
    font-size: 90%;
  }

  .about-para-2 {
    font-size: 80%;
  }

  .titles {
    font-size: 150%;
  }

  .btn-type-1 {
    font-size: 13px;
  }

  .product-btn {
    font-size: 20px;
  }
}

@media screen and (max-width: 325px) {
  .bottom-right {
    font-size: 55%;
  }
}